
IO_LOC  "LCD_B[0]"  31;
IO_LOC  "LCD_B[1]"  30;
IO_LOC  "LCD_B[2]"  29;
IO_LOC  "LCD_B[3]"  28;
IO_LOC  "LCD_B[4]"  27;

IO_LOC  "LCD_G[0]"  37;
IO_LOC  "LCD_G[1]"  36;
IO_LOC  "LCD_G[2]"  35;
IO_LOC  "LCD_G[3]"  34;
IO_LOC  "LCD_G[4]"  33;
IO_LOC  "LCD_G[5]"  32;

IO_LOC  "LCD_R[0]"  42;
IO_LOC  "LCD_R[1]"  41;
IO_LOC  "LCD_R[2]"  40;
IO_LOC  "LCD_R[3]"  39;
IO_LOC  "LCD_R[4]"  38;

IO_LOC  "LCD_CLK"   77;
IO_LOC  "LCD_VSYNC" 26;
IO_LOC  "LCD_HSYNC" 25;
IO_LOC  "LCD_DE"    48;

IO_LOC  "CLK_IN"    10;
IO_LOC  "BUTTON1"   88;
IO_LOC  "BUTTON2"   87;


IO_PORT "LCD_B[0]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_B[1]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_B[2]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_B[3]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_B[4]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_PORT "LCD_G[0]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_G[1]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_G[2]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_G[3]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_G[4]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_G[5]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_PORT "LCD_R[0]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_R[1]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_R[2]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_R[3]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_R[4]"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_PORT "LCD_CLK"   IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_HSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_PORT "LCD_DE"    IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_PORT "CLK_IN"    PULL_MODE=NONE;
IO_PORT "BUTTON1"   PULL_MODE=DOWN;
IO_PORT "BUTTON2"   PULL_MODE=DOWN;